

html , body{
  height: 100%;
  width: 100%;
}
body{
  /* background-image: linear-gradient(to bottom,var(--color3),var(--color10));
  background-repeat: no-repeat; */
  font-family:nasim !important;
  overflow-x: hidden;
}
/* -------------------------------------------------------------------------*/

.dir-ltr{
  direction: ltr !important;
}
.dir-rtl{
  direction: rtl !important;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none !important ;
}

.ha-list-style-none{
  list-style: none;
}

/* ------------------------------ special css ----------------------------- */

/* header  */
.dg-header{
  height: auto;
  padding: 0px !important;
}
@media (min-width: 768px){
  .dg-header{
    height: 70px;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}



.dg-logo{

  height: 60px;
}
.ha-logo-contianer img{

  height: 60px;
  width:auto;

}


.dg-nav{
  height: 40px;
}
/* -------------------------- top search ---------------------------------- */
.ha-top-search {
  display: flex;
  height: 100% !important;
  padding: .2rem;

}
.ha-top-search *{
  border-radius: 0 !important;

}
.ha-top-search .textinput {
  border-top-right-radius: .25rem !important;
  border-bottom-right-radius: .25rem !important;
  flex-grow:1;
  border-right: 1px solid var(--color2);
  border-top: 1px solid var(--color2);
  border-bottom: 1px solid var(--color2);
}
.ha-top-search .submitinput{
  border-top-left-radius: .25rem !important;
  border-bottom-left-radius: .25rem !important;
  border-left: 1px solid var(--color2);
  border-top: 1px solid var(--color2);
  border-bottom: 1px solid var(--color2);

}



/* -------------------------- baner slider -------------------------------- */

.dg-baner{
  max-height: auto !important;
  min-height: 70% !important;
}
.dg-baner img{
  width: 100% !important;
  max-height: 100%;
  min-height: 100%;
}
.dg-baner-txt {
  position: relative;
  bottom:0%;
  left: 0%;
  max-width: 100%;
  max-height: 170px;
  min-height: 170px;
  height: 170px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .dg-baner-txt {
    position: absolute;
    bottom:20%;
    left: 0%;
    max-width: 50%;
    max-height: auto;
    min-height: auto;
    height: auto;
  }
  .dg-baner{
    max-height: 70% !important;
    min-height: 70% !important;
  }

}

.ha-baner-pupup >div{

}
/* ======================================================================== */
/* category part  */
.car-type-category-item{
  padding: 1rem;
  border: none;
  border-radius: 50%;
  /* max-width: 15% !important; */
  display: flex;

}

.car-type-category-item img{
  max-width: 80% !important;
}
.car-type-category-item a{
  display: flex;
  justify-content: center;
  align-items: center;
}
 /* ======================================================================== */
 .dg-list-group .list-group-item {

   background-color : var(--color10);
   margin-top: .3rem;
 }

 .dg-list-group .list-group-item:hover {

   background-color : var(--color1);
 }
/*-----------------  */

.dg-header-underline{
  width: 100%;
  height: 0;
  border: 1px solid rgba(0,0,0,.3);
  position: relative;
  padding: 0;
}
.dg-header-underline::after{
  content: "";
  width: 20%;
  height: 0;
  position: absolute;
  right: -1px;
  top: -1px;
  border: 1px solid var(--color1);;
}

/* ------------------------------ */
.dg-segustion-item:hover{
  box-shadow: 0 0 .5rem 0.5rem rgba(0, 0, 0, 0.1);
}
/* =====================================================================  */
/* footer  */
.dg-footer{
  background-image: linear-gradient(var(--color11) -100% ,var(--color2) );
  background-repeat: no-repeat;
}

/* -------------------------------------------------------------- */
.slidernextprevrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position:absolute;
  top:45%;
  width:100%;
}

/* ------------------------------------------------------------------- */
/* solve in responsive part */
.ha-top-bg{
    background-color: var(--color1);
    border-top: 1px solid var(--color4);
    border-bottom: 1px solid var(--color4);

    padding:0 1rem .8rem 0;

}
.dg-header{
  height: auto;
}

.dgnavphone , .ha-baner-pupup ,.comment{

      background-image: linear-gradient(to bottom, #3f3f3f , #3e3e3e);
      z-index: 100000;
      overflow: hidden;
      width: 100%;
      height: 0px;
      position: absolute;
      top:0;
      left: 0;
    }
.comment{
  background-image: linear-gradient(to bottom, var(--color2) , var(--color12)) !important;

}
@media (min-width: 576px) {

}

@media (min-width: 768px) {
  .ha-top-bg{
      background-color: var(--color3);
      border-top: none;
      border-bottom: none;
  }

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}


/* -------------------------------------------------------------------- */

.ha-spin {
  -webkit-animation: ha-spin 2s infinite linear;
          animation: ha-spin 2s infinite linear; }

.ha-pulse {
  -webkit-animation: ha-spin 1s infinite steps(8);
          animation: ha-spin 1s infinite steps(8); }

@-webkit-keyframes ha-spin {
  0% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg); }
  50%{
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
      }
  100% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg); } }

@keyframes ha-spin {
  0% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg); }
  50%{
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
      }
  100% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg); } }

/* ----------------------------------------------------------- */
.ha-part-cat-item{
  border-radius: .25rem;
  border-bottom:4px solid var(--color11);
  transition: all .5s;

}
.ha-part-cat-item:hover{

  border:2px solid var(--color8);
  border-bottom:2px solid var(--color8);

  transition: all .5s;
}
/* ------------------------------------------------------------ */
.ha-menu .sub-menu{
  position: absolute;
  top: 112px;

  background-color: var(--color4);
  list-style: none;
  text-align: right;
  padding: 1rem;
  visibility: hidden;
  transition-delay: .5s;
  z-index: 9999;

  border: 2px solid var(--color1);
  border-top: 1px solid var(--color3);
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;



}

.ha-menu .sub-menu li:hover{
  border-bottom: 1px solid var(--color3);
}
.ha-menu li:hover .sub-menu{
  visibility: visible;
  opacity: 1;
  transition-delay: .5s;
}

.ha-menu-phone .sub-menu{

  list-style: none;
  padding-right: 1rem;
}
/* ------------------------------------------------------- */
.ha-parent-cat{
  list-style: none;


}
.ha-parent-cat hr{
  background-color: var(--color4);
  width: 90%;
  margin:0 auto;
}
.ha-parent-cat li{
  padding: .5rem;
}
.ha-parent-cat li::before{
  content: "- ";
  color:var(--color8);
  font-weight: 900;
}
.ha-parent-cat a{
  color:var(--color2);
}
/* ------------------------------------------------------ */
.ha-asside{
  width: 0;
  max-width: 0;
  min-width: 0;
  overflow: hidden;
  transition: all .5s ;

}
.ha-asside-open{
  width: 80% !important;
  max-width: 80% !important;
  min-width: 80% !important;
  transition: all 1s ;
}
.ha-container{
  width: 100%;
  max-width: 100%;
  min-width: 100%;

}
.ha-asside-toggle{

  position: fixed;
  top: 90%;
  right: 0;
  z-index: 999999;
}
@media (min-width: 576px) {

}

@media (min-width: 768px) {
  .ha-asside{
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    overflow: hidden;

  }
  .ha-asside-toggle{
    display: none;
  }
  .ha-asside-open{
    width: 0% !important;
    max-width: 0% !important;
    min-width: 0% !important;
    transition: all .5s ;
  }
  .ha-container{
    width: 80%;
    max-width: 80%;
    min-width: 80%;

  }
  .ha-container-open{

    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;

  }


}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
@media (min-width: 1400px) {
  .ha-asside{
    width: 18%;
    max-width: 18%;
    min-width: 18%;

  }
  .ha-container{
    width: 82%;
    max-width: 82%;
    min-width: 82%;

  }
}
.ha-btn{
  background: transparent;
  border:none;
}
.ha-btn:focus{
  outline:none;
}
.ha-asside-header{
  background-color: var(--color3);
  border:1px solid var(--color1);
  border-radius: .3rem;
}
/* --------------------------------------------------------------------- */
.ha-side-list-hiracial{
    list-style: none;
    padding: 0;
}
.ha-side-list-hiracial>li{
  direction: rtl !important;
  padding-top: .2rem;
  padding-bottom: .2rem;
}
.ha-side-list-hiracial>li::before{
  content: "";

}
.ha-side-list-hiracial>li>a{
  width: 100%;
  min-width: 100%;
  max-width: 100%;

}
.ha-side-list-hiracial>li:hover{
  border-left:5px solid red;
}
.ha-side-list-hiracial>ul{
  position: relative;
  padding-right: 1.5rem !important;

}
.ha-side-list-hiracial>ul::before{
  content: "";
  position: absolute;

  top:0;
  right: 0;
  border: .1rem solid var(--color12);
  height: 100%;
}
/* -------------------------------------------------- */
.overflow-hidden{
  overflow: hidden;
}
